<html>
<head>
    <title>piclist</title>
    <link rel="stylesheet" href="{galleryPath}/_css/style.css">
</head>
<body>
{subDirs}
{images}
<noscript>
{imagesNoScript}
</noscript>
<script src="{galleryPath}/_js/echo.min.js"></script>
<script>
echo.init({
    offset: 100,
    throttle: 250,
    unload: false,
    callback: function (element, op) {
        console.log(element, 'has been', op + 'ed')
    }
});
    // echo.render(); is also available for non-scroll callbacks
</script>
</body>
</html>